<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    
</head>

<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h2 class="text-center mb-4">Регистрация пользователя</h2>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}" class="text-decoration-none">
                            Уже есть аккаунт? <strong>Войти</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
